<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Groupes</title>
</head>
<body>
<h1>Liste des groupes</h1>

<a href="/groups/new">Nouveau groupe</a>
<br><br>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Description</th>
  </tr>
  <tr th:each="g : ${groups}">
    <td th:text="${g.id}"></td>
    <td>
      <a th:href="@{'/groups/' + ${g.id}}"
         th:text="${g.name}">Nom</a>
    </td>
    <td th:text="${g.description}"></td>
  </tr>
</table>

<a href="/tickets">Retour aux tickets</a>
</body>
</html>
